/**
 * styling for #tooltip
 *
 * @format
 */

#tooltip {
	position: absolute;
	height: 100px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #333;
	border-radius: 8px;
	pointer-events: none;
	font-size: small;
}

#legend {
	text-align: right;
}

#svgLegend {
	display: inline;
	margin-left: 1rem;
}

circle {
	stroke: #333;
	stroke-width: 1px;
}

rect {
	stroke: #333;
	stroke-width: 1px;
}
